<%- include ('partials/header.ejs')%>
<body>
  <%- include ('partials/navbar.ejs')%>
  <div class="container">
    <hr />
    <h1><%= questionId.NM_TITL %></h1>
    <p><%= questionId.DS_QUES %></p>
    <hr />
  </div>
</body>
<%- include ('partials/scripts.ejs')%>
